body{
    margin: 0;
    font-family: sans-serif;
}



.btn btn-primary mb-2{
    background-color: #1DA1F2;
    color: white;
}

.content{
    padding: 0;
    margin: 0;
    text-align-all: center;
    align-content: center;
}
.blue-content{
    background-color: #1DA1F2;
    height: 80%;
    margin: 0;
}

.white-content{
    background-color: white;
    height: 20%;
    margin: 0;
}